@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  background-color: #1EB8D4;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #83B63B;
  border-radius: 100px;
}


.title {
  @apply text-3xl font-bold
}

.cont {
  @apply container m-auto pt-5
}

.stic {
  position: sticky;
  top: 30px;
  left: 20px;
  z-index: 122;
}